/* tailwind.css or your main css file */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3498db; /* Change this to set the spinner color */
  animation: spin 1.5s linear infinite;
}
